.suggestion:hover {
  background-color: rgb(209, 209, 209);
  border-radius: 3px;
  margin: 0;
}

.suggestion {
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
}

#forecast .card {
  margin: 5px;
}

.capitalize {
  text-transform: capitalize;
}
